In [52]:
import numpy as np
import pymysql
import pandas as pd
from datetime import datetime
import glob 
import os

In [53]:
df1=pd.read_csv('data\Algeria\Weather_1920-1929_ALGERIA.csv',sep=',',encoding='cp1252')
unique_values = df1['TMIN_ATTRIBUTES'].unique()
value_counts = df1['TMIN_ATTRIBUTES'].value_counts()
print(value_counts)

,,E     36693
,I,E      144
Name: TMIN_ATTRIBUTES, dtype: int64

In [54]:
df2=pd.read_csv('data\Algeria\Weather_1930-1939_ALGERIA.csv',sep=',',encoding='cp1252')
unique_values = df2['TMIN_ATTRIBUTES'].unique()
value_counts = df2['TMIN_ATTRIBUTES'].value_counts()
print(value_counts)

,,E     37918
,I,E      153
Name: TMIN_ATTRIBUTES, dtype: int64

In [55]:
df3=pd.read_csv('data\Algeria\Weather_1940-1949_ALGERIA.csv',sep=',',encoding='cp1252')
unique_values = df3['TMIN_ATTRIBUTES'].unique()
value_counts = df3['TMIN_ATTRIBUTES'].value_counts()
print(value_counts)

,,G     7070
,,E     3606
,I,E       1
,I,G       1
Name: TMIN_ATTRIBUTES, dtype: int64

In [56]:
np.where(pd.isnull(df1))

(array([    0,     0,     0, ..., 40120, 40121, 40121], dtype=int64),
 array([ 8,  9, 12, ...,  9,  8,  9], dtype=int64))

In [78]:
# np.where(df1.applymap(lambda x: x == '')) #idk what this does for now 
newdf.isnull().sum()

STATION            0
NAME               0
LATITUDE           0
LONGITUDE          0
ELEVATION          0
DATE               0
PRCP               0
PRCP_ATTRIBUTES    0
TAVG               0
TAVG_ATTRIBUTES    0
TMAX               0
TMAX_ATTRIBUTES    0
TMIN               0
TMIN_ATTRIBUTES    0
dtype: int64

In [48]:
df2.iloc[[21]] #show line 21

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
21,AGE00147709,"FORT NATIONAL, AG",36.63,4.2,942.0,1930-01-22,0.0,",,E",NaN,NaN,11.0,",,E",6.0,",,E"

In [77]:
# 
#df2['TAVG'].dtypes
print(newdf['NAME'].dtypes,newdf['LATITUDE'].dtypes,newdf['LONGITUDE'].dtypes,newdf['ELEVATION'].dtypes,newdf['DATE'].dtypes,newdf['PRCP'].dtypes,newdf['PRCP_ATTRIBUTES'].dtypes,newdf['TAVG'].dtypes,newdf['TAVG_ATTRIBUTES'].dtypes,newdf['TMAX'].dtypes,newdf['TMAX_ATTRIBUTES'].dtypes,newdf['TMIN'].dtypes,newdf['TMIN_ATTRIBUTES'].dtypes)

object float64 float64 float64 object float64 object float64 float64 float64 object float64 object

In [75]:
newdf=traitment(df2)

In [8]:
df2['TAVG_ATTRIBUTES'].dtypes

dtype('float64')

In [9]:
df2['TMIN_ATTRIBUTES'] = df2['TMIN_ATTRIBUTES'].astype('|S')

In [21]:
df2['TAVG'].fillna(value=0,inplace=True)
df2['PRCP'].fillna(value=0,inplace=True)
df2['TMAX'].fillna(value=0,inplace=True)
df2['TMIN'].fillna(value=0,inplace=True)

In [11]:
df2['TMIN_ATTRIBUTES'].dtypes

dtype('S4')

In [72]:
df2.isnull().sum()
df2['TMIN_ATTRIBUTES']=df2['TMIN_ATTRIBUTES'].astype(str)

 ## object object float float float object float object object float float float object float object 
                                        0   random          0       random          0   random          0   random
NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
object float64 float64   float64 object float64 object      float64 float64 float64 object float64     object

In [20]:
for e in df2.columns:
    print(df2[e].dtypes==float)

False
False
True
True
True
False
True
False
True
True
True
False
True
False

In [73]:
df2['TMIN_ATTRIBUTES'].dtypes

dtype('O')

In [74]:
def traitment(df):
    df2=df.copy()
    for e in df.columns:
        if df[e].dtypes==object:
            df2[e]=df[e].astype(str)
            df2[e]=df[e].fillna(',,E')
        elif df[e].dtypes==float:
            # df[e]=df[e].apply(lambda x: df[e].fillna(value=0) if df[e].isnull(x))
            df2[e]=df[e].fillna(value=0)
    return df2       
            
# def NoEpmtyStrings(df,randomwords):
#     df2=df.copy()
#     for e in df.columns:
#         if df[e].dy

In [7]:
# def extraction(csvfolder):
#     for filepath in csvfolder:
#         df=pd.read_csv(filepath,sep=",", encoding='cp1252')
#         locationdf=df[['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']].drop_duplicates()
#         weatherfact= df[['STATION', 'DATE', 'PRCP', 'PRCP_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES','TMAX', 'TMAX_ATTRIBUTES', 'TMIN', 'TMIN_ATTRIBUTES']]
#         datedf=df[['DATE']].drop_duplicates()
#         return locationdf,datedf,weatherfact

# current_dir = os.path.dirname(os.path.abspath(__file__))
# algeria_folder = os.path.join(current_dir, '..', 'data/Algeria')
# morocco_folder = os.path.join(current_dir, '..', 'data/Morocco')
# tunisia_folder = os.path.join(current_dir, '..', 'data/Tunisia')
# csv_files1 = glob.glob(os.path.join(algeria_folder, '*.csv'))
# csv_files2 = glob.glob(os.path.join(morocco_folder, '*.csv'))
# csv_files3 = glob.glob(os.path.join(tunisia_folder, '*.csv'))

NameError: name '__file__' is not defined