In [ ]:
import numpy as np
import pymysql
import pandas as pd
from datetime import datetime

In [2]:
df1=pd.read_csv('data\Algeria\Weather_1920-1929_ALGERIA.csv',sep=',',encoding='cp1252')
unique_values = df1['TMIN_ATTRIBUTES'].unique()
value_counts = df1['TMIN_ATTRIBUTES'].value_counts()
print(value_counts)

,,E     36693
,I,E      144
Name: TMIN_ATTRIBUTES, dtype: int64

In [3]:
df2=pd.read_csv('data\Algeria\Weather_1930-1939_ALGERIA.csv',sep=',',encoding='cp1252')
unique_values = df2['TMIN_ATTRIBUTES'].unique()
value_counts = df2['TMIN_ATTRIBUTES'].value_counts()
print(value_counts)

,,E     37918
,I,E      153
Name: TMIN_ATTRIBUTES, dtype: int64

In [4]:
df3=pd.read_csv('data\Algeria\Weather_1940-1949_ALGERIA.csv',sep=',',encoding='cp1252')
unique_values = df3['TMIN_ATTRIBUTES'].unique()
value_counts = df3['TMIN_ATTRIBUTES'].value_counts()
print(value_counts)

,,G     7070
,,E     3606
,I,E       1
,I,G       1
Name: TMIN_ATTRIBUTES, dtype: int64

In [5]:
np.where(pd.isnull(df1))

(array([    0,     0,     0, ..., 40120, 40121, 40121], dtype=int64),
 array([ 8,  9, 12, ...,  9,  8,  9], dtype=int64))

In [14]:
# np.where(df1.applymap(lambda x: x == '')) #idk what this does for now

(array([], dtype=int64), array([], dtype=int64))

In [6]:
df2.iloc[[21]] #show line 21

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
21,AGE00147709,"FORT NATIONAL, AG",36.63,4.2,942.0,1930-01-22,0.0,",,E",NaN,NaN,11.0,",,E",6.0,",,E"

 ## object object float float float object float float object float float float object float object

In [ ]:
df2['TMIN_ATTRIBUTES'].dtypes

In [12]:
df2['TMIN_ATTRIBUTES'] = df2['TMIN_ATTRIBUTES'].astype('|S')

In [13]:
df2['TMIN_ATTRIBUTES'].dtypes

dtype('S4')